.container {
  border-radius: rem-calc(50);
  background-color: rgba(255, 255, 255, 0.2);
  padding: rem-calc(10);
  display: flex;
  align-content: flex-start;
  align-items: start;
  justify-content: start;
}

.tab {
  height: rem-calc(44);
  position: relative;
  padding: rem-calc(3) rem-calc(20);
  margin: 0 rem-calc(5) 0 0;
  font-size: rem-calc(32);
  font-weight: rem-calc(700);
  line-height: rem-calc(38);
  cursor: pointer;
}

.selection {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
