@import '../variables/fonts';
@import '../functions/rem-calc';
@import '../mixins/typography';

:root {
  font-family: $font-primary;
  @include typography('text-md', 'regular');
}

body {
  width: 100vw;
  height: 100vh;
  // background: #116cff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
